@font-face {
    font-family: Nasa-Type;
    src: url(fonts/Nasa-Type.otf);
}
@font-face {
    font-family: Futura-Demi_Bold;
    src: url(fonts/Futura-Demi_bold.otf);
}
@font-face {
    font-family: Futura-Light;
    src: url(fonts/Futura-Light.otf);
}
@font-face {
    font-family: Helvetica-Medium;
    src: url(fonts/Helvetica-Medium.otf);
}
@font-face {
    font-family: Helvetica-Light;
    src: url(fonts/Helvetica-Light.ttf);
}

/*----------------------------------------------------------------------------------------------------*/
html{
    scroll-behavior: smooth; /*SMOOTH SCROLL*/
}
/*
::-webkit-scrollbar {
    display: none;
}  
*/
body{
    background: #000;
    max-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: #ffdd90;
    background-image: url("./images/Ventana1.svg");
}

/*----------------------------------------------------------------------------------------------------*/
.particulas_JS{       /* CLASE PARA EL CONTENEDOR DE LAS PARTICULAS */
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}

/*----------------------------------------------------------------------------------------------------*/
.barra_social{        /* BARRA SOCIAL */
    position: fixed;
    right: 0;
    top: 35%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 100;
}
.icon{
    color: #fff;
    text-decoration: none;
    padding: .7rem;
    display: flex;
    transition: all .2s;
    background: #2A3F4B;
}/*
.icon-github{
    background: #2A3F4B;
}
.icon-linkedin2{
    background: #0a66c2;
}
.icon-facebook{
    background: #2E406E;
}
.icon-youtube{
    background: #E83028;
}
*/
.icon:first-child{
    border-radius: 1rem 0 0 0;
}
.icon:last-child{
    border-radius: 0 0 0 1rem;
}
.icon:hover{
    padding-right: 3rem;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 0 .5 rgba(0, 0, 0, 0.42);
}

/*----------------------------------------------------------------------------------------------------*/
.header{        /* MENU DE NAVEGACION - HEADER*/
    /* TAMAÑO */
    width: 100%;
    height: 6vh;
    padding: 0;

    /* POSICION */
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;

    /* CONTENIDO */
    display: flex;
    align-items: center;

    /* ASPECTO */
    background: #000;
    overflow: hidden;
}
nav{
    /* TAMAÑO */
    width: 100%;
    padding: 0 20px;

    /* ASPECTO */
    background: transparent;

    font-family: Futura-Light;
    text-align: right;
}
nav > a{
    color: #fff;
    text-decoration: none;
    margin-right: 1vw;
    font-size: 2vh;
}
nav a:hover{
    color: rgb(82, 74, 197);
    text-decoration: none;
    margin-right: 1.5vw;
    font-size: 2.5vh;
}


/*----------------------------------------------------------------------------------------------------*/
/* APLICA PARA TODO EL DOCUMENTO */
.Seccion_Generica{
    /* TAMAÑO */
    width: 100vw;
    height: 94vh;
    padding: 6vh 0 0 0;

    /* CONTENIDO */
    display: flex;
    flex-wrap: wrap;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/

    /* ASPECTO */
<<<<<<< HEAD
=======
    background: transparent;
    overflow: hidden;
}

/*----------------------------------------------------------------------------------------------------*/
.presentacion_contenedor{        /* PRESENTACION */
    /* TAMAÑO */
    width: 100%;
    height: 100%;
    padding: 0 0 0 10%;

     /* CONTENIDO */    
     display: flex;
     flex-direction: column;
     align-items: flex-start;      /* ALINEACION VERTICAL*/
     justify-content: center;      /* ALINEACION HORIZONTAL*/

    line-height: 1;    
    color: #fff;

    /* ASPECTO */ 
    background: #000;
    overflow: hidden;
}
.presentacion_contenedor h1{
    font-family: Nasa-Type;
    font-size: 10vw;
}
.presentacion_contenedor h2{
    font-family: Helvetica-Medium;
    font-size: 6vw;
}
.presentacion_contenedor p{
    font-family: Helvetica-Light;
    font-size: 5vw;
}


/*----------------------------------------------------------------------------------------------------*/
.sobreMi_contenedor{        /* SOBRE MI */    
    /* TAMAÑO */
    width: 100%;
    height: 100%;
    padding: 0 5% 5% 5%;

    /* CONTENIDO */    
    display: flex;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/

    /* ASPECTO */ 
    background: transparent;
    overflow-x: hidden;
    
    color: #fff;
}
.sobreMi_elemento{
    background: transparent;
    padding: 0 3% 0 3%;
}
.sobreMi_elemento:first-child{
    width: 25%;
    justify-content: center;  /* ALINEACION HORIZONTAL*/
}
.sobreMi_elemento:nth-child(2){
    width: 55%;
}
.sobreMi_elemento h1{
    font-family: Futura-Demi_Bold;
    font-size: 6vw;
    margin: 0 0 0 0;
}
.sobreMi_elemento p{
    font-family: Futura-Light;
    font-size: 1.5vw;
    text-align: justify;
    margin: 0 0 0 0;
}
.sobreMi_elemento img{
    width: 100%;
}



/*----------------------------------------------------------------------------------------------------*/
/* PORTAFOLIO */
.Contenedor_Cuadricula{    
    /* TAMAÑO */
    width: 100%;  /*90%*/
    height: 100%; /*90%*/

    /* CONTENIDO */    
    display: flex;
    flex-direction: column;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/

    /* ASPECTO */ 
    overflow: hidden;
    background: transparent;
    background: #878787;
}
.Cuadricula_portafolio{    
    width: 100%;
    height: 80%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/

    background: #C6C6C6;
}
.elemento_portafolio{
    width: 20%;
    height: 20%;
    margin: .5%;
    border-radius: 2rem;
    
    background: #EDEDED;

    display: flex;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/
}

.Cuadricula_habilidades{    
    width: 100%;
    height: 90%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/

    background: #C6C6C6;
}
.elemento_habilidades{
    width: 18%;
    height: 20%;
    margin: .5%;
    border-radius: 2rem;
    
    background: #EDEDED;

    display: flex;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/
}
.elemento_portafolio:hover{
    opacity: 60%;
}
.elemento_portafolio:first-child{
    background: #EDEDED;
}
.elemento_portafolio:nth-child(2){
    background: #EDEDED;
}
.elemento_portafolio img{
    width: 90%;
    height: 90%;
}
.boton{
    width: 20%;
    height: 10%;
    background: #fff;
    border-radius: 2rem;
}
.boton img{
    width: 90%;
    height: 90%;
}
.elemento_habilidades img{
    width: 90%;
    height: 90%;
}
.Contenedor_Cuadricula span{
    height: 10%;
    color: #fff;
    font-family: Helvetica-Medium;
    font-size: 3vw;
>>>>>>> f3dd88454703559d46613ba8080c0bb4ce7437c3
    background: #3836f2;
    background: transparent;
    
    overflow: hidden;
}

.Contenedor_Generico{
    width: 90%;
    height: 90%;

    background: transparent;

    display: flex;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/
}

.Contenedor_Generico img{
    width: 40%;
    background: transparent;
}

.Logo{
    position: fixed;
    z-index: 100;
    left: 1vw;
  	top: 6vh;

    display: flex;
    align-items: center;      /* ALINEACION VERTICAL*/
    justify-content: center;  /* ALINEACION HORIZONTAL*/
    
    padding: 0%;
    margin: 0%;
    width: 7%;
    background: transparent;
}

.Logo img{
    width: 100%;
    background: transparent;
}
